<div>
    <h1 class="w-full text-center text-2xl">Mis pedidos</h1>

    <br>

    <div class="w-full flex flex-col p-4 gap-4 items-center justify-center">
        @if (listaPedidos.length > 0) {
        @for (pedido of listaPedidos; track $index) {
        <div class="p-4 bg-gray-200 rounded-lg w-full">
            <h2 class="w-full text-center">Pedido #{{ pedido.idPedido }}</h2>

            <div class="p-4">

                @if (pedido.listaProductos.length > 0) {

                <div class="flex flex-col gap-2">
                    @for (producto of pedido.listaProductos; track $index) {

                    <div class="bg-gray-100 p-4 rounded-lg">
                        <h2>Producto: {{ producto.nombre }}</h2>
                        <p>Cantidad: {{ producto.modelo }}</p>
                        <p>Precio: {{ producto.precio }} €</p>
                    </div>
                    }
                </div>
                }
            </div>

            <!--                     <button @click="verDetallePedido(pedido.id)">Ver detalle</button>
 -->
        </div>
        }
        } @else {
        <p>No se ha realizado ningún pedido</p>
        }
    </div>
</div>