<div class="flex flex-col items-center justify-center p-10">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">

        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input type="text" formControlName="email" matInput required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contraseña:</mat-label>
            <input type="password" formControlName="contrasenya" matInput required />
        </mat-form-field>

        <button type="submit" class="border border-black px-4 py-2 rounded-full hover:bg-gray-300">
            Login
        </button>



    </form>

</div>