<hr class="mx-8 bg-gray-300">

<div class="flex flex-row flex-wrap gap-8 p-8">

    <div class="flex flex-col gap-2">
        <a class="font-bold">Recursos</a>

        <a class="mt-5">Tarjetas de regalo</a>
        <a>Tarjetas de regalo corporativas</a>
        <a>Buscar una tienda</a>
        <a>Nike Journal</a>
        <a>Hazte Member</a>
        <a>Descuento para estudiantes</a>
        <a>Compentarios</a>
        <a>Códigos promocionales</a>
    </div>

    <div class="flex flex-col gap-2">
        <a class="font-bold">Ayuda</a>

        <a class="mt-5">Obtener ayuda</a>
        <a>Estado del pedido</a>
        <a>Envíos y entregas</a>
        <a>Devoluciones</a>
        <a>Opciones de pago</a>
        <a>Contacto</a>
        <a>Evaluaciones</a>
        <a>Ayuda con los códigos promocionales de Nike</a>
    </div>

    <div class="flex flex-col gap-2">
        <a class="font-bold">Empresa</a>

        <a class="mt-5">Acerca de Nike</a>
        <a>Novedades</a>
        <a>Empleo</a>
        <a>Inversores</a>
        <a>Sostenibilidad</a>
        <a>Propósito</a>
        <a>Informar de un problema</a>
    </div>

    <div class="flex flex-row gap-2">
        <img class="icon-class" src="icons/globe-solid.svg">
        <a class="font-bold text-gray-500">España</a>

        
    </div>

</div>

<div class="flex flex-row flex-wrap gap-4 p-8">
    <p>© 2025 Nike, Inc. Todos los derechos reservados</p>
    <a>Guías</a>
    <a>Términos de uso</a>
    <a>Términos de venta</a>
    <a>Aviso legal</a>
    <a>Política de privacidad y cookies</a>
    <a>Configuración de privacidad y cookies</a>
</div>
